**/*.o
**/*.a
database/test/hash_index_test
database/test/tpcc_populate_test
database/tpcc/tpcc
dht/benchmark
test/benchmark
test/cs_test
test/example
test/example-r
test/fence_test
test/garray_test
test/hashtable_test
test/hashtable_throw_test
test/lock_test
test/lru_test
test/master
test/rw_test
test/slab_test
test/worker